canvas{
    border: solid 3px black;
    background:white;
}
body{
background-image: url("art.jpg");
background-size: 100%;
position:relative;
}
h1{
    color:blue;
    text-shadow: 0px 0px 20px  #fff;
    font-size: 30px;
    font-family: Arial;
}

button{
    border-radius:30px;
    padding:25px;
    font-weight: 500;
    font-size: 20px;
}
input{
    border-radius:30px;
    padding:25px;
    font-weight: 500;
    font-size: 20px;
}
#botaoDesenhar{
    background-color: lime;

}

#botaoLimpar{
    background-color: yellow;
}

img{
    position:absolute;
    right:60px;
    bottom:10px;
}